################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MCO Base Code/.vs/Week 3 - Homework - Design Console Layout/FileContentIndex/3eda72e2-c4a7-4bdf-8b5e-9b9ea1ef66fa.vsidx
